---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body {
  font-family: 'Alata', sans-serif;
  font-size: 1.1em; // Increase font size by 25%
}

ul {
  li {
    margin-bottom: 1em; // X times the font size of the <li> element
  }
}
